#### Accessing Multiple Points at once

Let's start with a simple example of getting multiple points at once.

Previously we had seen how to access multiple points with the everything (`:`) operator:

In [1]:
x = 1:12
x(1,:)

x =

     1     2     3     4     5     6     7     8     9    10    11    12


ans =

     1     2     3     4     5     6     7     8     9    10    11    12

Now, let's replace the everything operator with select data points:

In [2]:
x = 1:12
x([1, 3, 5])

x =

     1     2     3     4     5     6     7     8     9    10    11    12


ans =

     1     3     5

Note that the column specifications above are bracketed as a list so that they are not treated as data points of additional dimensions (as they are here)

In [3]:
x
x(1, 1, 3, 5)

Index exceeds matrix dimensions.

The individual cell definitions can be defined by a variable. For example:

In [4]:
y = [1,3,5];
x
x(y)

x =

     1     2     3     4     5     6     7     8     9    10    11    12


ans =

     1     3     5

You can perform mathematical operations on the index matrix, provided they return integers in the valid range. Here we data points 1 through 3 and then 2 through 4

In [5]:
y = [0, 1, 2];
x
x(y+1)
x(y+2)

x =

     1     2     3     4     5     6     7     8     9    10    11    12


ans =

     1     2     3


ans =

     2     3     4

The index array does not need to be monotonically increasing. Here I grab the 4 'random' values

In [6]:
y = [1, 5, 4, 2];
x
x(y)

x =

     1     2     3     4     5     6     7     8     9    10    11    12


ans =

     1     5     4     2

Here I grab four values with duplicates

In [7]:
x
x([2, 2, 4, 4])

x =

     1     2     3     4     5     6     7     8     9    10    11    12


ans =

     2     2     4     4

Ok, how about 4 actual random values using the `randi` function.

In [8]:
r = randi([1 12], 1, 4)
x
x(r)

r =

    10    11     2    11


x =

     1     2     3     4     5     6     7     8     9    10    11    12


ans =

    10    11     2    11

#### Indeterminite  Subsets

You can also use the everything operator to grab an indeterminite subse of an array. For example to select everything from the third element to the last element, you would say:

In [9]:
x
x(3:end)

x =

     1     2     3     4     5     6     7     8     9    10    11    12


ans =

     3     4     5     6     7     8     9    10    11    12

Here I select everything up to the third last value

In [10]:
x
x(1:end-3)

x =

     1     2     3     4     5     6     7     8     9    10    11    12


ans =

     1     2     3     4     5     6     7     8     9

#### Steps in Intervals Other Than One

In this case I select everything up to the third last element from the end going in steps of 3

In [11]:
x
x(1:3:end-2)

x =

     1     2     3     4     5     6     7     8     9    10    11    12


ans =

     1     4     7    10

Note that the above interval indices are treated less than or equal to the final value specification. 

So, for example, to every 5th value less than or equal to the length of the array:

In [12]:
x
x(1:5:end)

x =

     1     2     3     4     5     6     7     8     9    10    11    12


ans =

     1     6    11

So, that was nice and all, but really highlights confusion that can come from one based indexing.

Intuitively, the above example can be a little clearer if you think of it as acessing  the `1 + [Zeroth, Fifth, Tenth]` data points

It's kind of messy trying to keep track of 0 based to 1 based transitions, but here are a couple examples to try to clarify.

In [13]:
x([0:5:10]+1)

ans =

     1     6    11

In [14]:
y = [0:11]
y(1:5:end)

y =

     0     1     2     3     4     5     6     7     8     9    10    11


ans =

     0     5    10